/*added font*/
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/static/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/static/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/static/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
}

/*adding some custom properties*/
:root {
  --clr-primary-Green: hsl(75, 94%, 57%);
  
  --clr-neutral-White: hsl(0, 0%, 100%);
  --clr-neutral-Grey: hsl(0, 0%, 20%);
  --clr-neutral-darkGrey: hsl(0, 0%, 12%);
  --clr-neutral-offBlack: hsl(0, 0%, 8%);

  --fs-primary: 0.875rem;

  --ff-primary: "Inter", sans-serif;
}
